.sidebar {
  position: fixed;
  min-width: 20%;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 2em;
  padding: 10px;
  color: #00b4d8;
}